body {
    background-color: #f5a254;
    font-family: 'Rock Salt', cursive;
}

.head-page {
    /*background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), #f5a254), url('./images/city.png');*/
    background-color : white;
    height: 180px;
}

.langues {
    padding-top: 0.8%;
}

.langues a {
    color: black;
    font-size: 120%;
}

/*Raccourci*/
.raccourci a {
    color: black;
    font-size: 120%;
}
  
.les_evenements {
    padding: 2% 15%;
}
  
.event {
    cursor: pointer;
}



/* Bouton rechercher */

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

input:invalid ~ span:after {
    content: '✖';
    padding-left: 5px;
    position: absolute;
}
  
input:valid ~ span:after {
    content: '✓';
    padding-left: 5px;
    position: absolute
}

